{% extends 'base.html' %}

{% block content %}
<div class="container " style="margin-top: 10%;margin-left: 25%">
	<div class="col-sm-6 center">
		<form method="post" action="{% url 'login' %}" >
	    {% csrf_token %}
	    <div class="form-group col-8">
	    <p><label for="id_username">Username:</label>
	    {{ form.username }}</p>
	    <p><label for="id_password">Password:</label>
	    {{ form.password }}</p>
	    <button type='submit' name='btn_login' class="btn btn-primary text-center" value="login/">Login</button>
	    <input type="hidden" name="next" value="{{ next }}" />
	    </div>
		</form> 
		<span><a href="/signup">Create an account</a></span>
	</div>
</div>
{% endblock %}
