{% extends 'base.html' %}

{% block content %}
	{% if done %}
	<div>
	<h1>you already attended the quiz!</h1>
		<div>
			<a href="/quiz/result/{{done.id}}">
				<button class="btn btn-primary text-center">view results</button>
			</a>
		</div>
	</div>
	{% else %}

		{% if questions%}
		<form action="" method="post" enctype="multipart/form-data">
		{% for question in questions %}
		<div>
		<div><h3>Question {{ forloop.counter }} : {{question}}</h3></div>
		
			
		  <input type="radio" name="{{question.id}}" value="{{question.choice1}}"> {{question.choice1}}<br>
		  <input type="radio" name="{{question.id}}" value="{{question.choice2}}">{{question.choice2}}<br>
		  <input type="radio" name="{{question.id}}" value="{{question.choice3}}"> {{question.choice3}}<br>
		  <input type="radio" name="{{question.id}}" value="{{question.choice4}}"> {{question.choice4}}<br>
			
		</div>
		<br>
		<br>
		{% endfor %}
		<input class="btn btn-primary text-center" type="submit" value="Submit">{% csrf_token %}
		</form> 
		{% endif %}

		{% if my_data%}
		<div>
			RESULT
			<div>
			{{my_data}}
		</div>
		{% endif %}
	{% endif %}
{% endblock %}
